[submodule "coder"]
	path = coder
	url = /Volumes/Backup/Hobby/personal-website/website/themes/coder
[submodule "public"]
	path = public
	url = git@github.com:sagarayi/sagarayi.github.io.git
	branch = master
